.container {
	.auth {
		display: grid;
		gap: 20px;
		grid-auto-flow: column;
	
		.link {
			cursor: pointer;
		}

		.linkActive {
			color: var(--linkColor);	
		}

		@media screen and (max-width: 640px) {
			grid-auto-flow: row;
			gap: 50px;
			align-items: center;
		}
	}

	.link {
		@media screen and (max-width: 640px) {
			display: none;
		}
	}

	.linkActive {
		color: var(--linkColor);	
	}

	.isBurger {
		display: grid;
	}
}



