:root {
	--bg: #fff;
	--textColor: black;
	--softBg: #f0f0f0;
	--softTextColor: #626262;
	--btnPrimaryBg: #3e3939;
	--btnPrimaryColor: #f1f1f1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

.dark {
	--bg: #0f172a;
	--textColor: #ddd;
	--softBg: #1f273a;
	--softTextColor: #a6a6a6;
	--btnPrimaryBg: #c0c0c0;
	--btnPrimaryColor: #292732;
}

/* .light {
	--bg: #fff;
	--textColor: black;
	--softBg: #f0f0f0;
	--softTextColor: #626262;
} */
  

.wrapper{


	background-color: var(--bg);
	color: var(--textColor);
	min-height: 100vh;
}

.container {
	display: grid;
    grid-template-rows: auto 1fr auto;

	min-height: 100vh;
	max-width: 1536px;
	margin: 0 auto;
	padding: 0 80px;
	@media screen and (max-width: 1536px){
		max-width: 1366px;
	}
	@media screen and (max-width: 1280px) {
		max-width: 1024px;
	}
	@media screen and (max-width: 1024px) {
		max-width: 768 px;
		padding: 0 40px;
	}
	@media screen and (max-width: 768px) {
		max-width: 640px;
	}
	@media screen and (max-width: 640px) {
		max-width: 475px;
	}
}

#navbar {
	grid-row-start: 1;
	grid-row-end: 2px;
}

#body {
	grid-row-start: 2;
	grid-row-end: 3;
}


#footer {
	grid-row-start: 3; /* Добавить */
  	grid-row-end: 4; /* Добавить */
}

.ql-container {
	font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
	color: #b3b3b1;
}