.container {
	display: none;
	position: absolute;
	overflow: hidden;
	top: 100px;
	left: 0;
	background-color: var(--bg);
	height: calc(100vh - 100px);
	width: 100%;
}

.isOpened {
	display: grid;
	overflow: hidden;
	align-content: center;
	justify-items: center;
	gap: 50px;
}


